{% extends 'base.html' %}


{% block content %}

<div class="row">
    <!-- Filter -->
    <div class="col-lg-3 mx-auto">
        <div class="list-group">
            {% for category in category %}
            <a href=""class="list-group-item list-group-item-action ">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>



    <!-- All Prodcts -->


    <div id="product" class="col-lg-9 mx-auto">
        <div class="container-fluid mt-3 mx-auto    ">
            <div class="row mx-auto ">
                {% for product in product %}
        
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.price}}</p>
                      <p class="card-text">{{product.desc}}</p>
                      <a href="#" class="btn btn-light border btn-sm">Add to Card</a>
                  
                    </div>
                  </div>
            
                {% endfor %}
            </div> 
        </div>

    </div>
</div>

{% endblock %}

